<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="io.github.caijiang.common.aliyun" level="debug"/>
    <logger name="io.github.caijiang.common.orchestration.ServiceDeployer" level="trace"/>
    <logger name="io.github.caijiang.common.http" level="trace"/>
    <logger name="io.github.caijiang.common.nacos" level="debug"/>
    <logger name="io.github.caijiang.common.aliyun" level="debug"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>

    </root>

    <!--    为了让 ServiceDeployer 测试 日志看起来更舒服-->
    <logger name="org.apache.sshd.common.util.security.bouncycastle" level="warn"/>
    <logger name="org.apache.sshd.common.io" level="warn"/>
    <logger name="org.apache.sshd.client.config.hosts" level="warn"/>
    <logger name="org.apache.sshd.client.keyverifier.AcceptAllServerKeyVerifier" level="error"/>


</configuration>