# This is a basic workflow to help you get started with Actions

name: Main

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
#job 可以通过 needs 添加依赖
jobs:
  test:
    runs-on: ubuntu-latest

    services:
      #      SolitaryHelper 以后应当增强 如果发现当前环境配置了容器服务，那么直接用就是了
      #      env 中 CI true GITHUB_ACTIONS true 可以判断是否运行在 github 中
      mysql57:
        image: mysql:5.7
        env:
          MYSQL_ROOT_PASSWORD: password
          MYSQL_DATABASE: db
        ports:
          - 3306:3306
    env:
      provided_mysql_host: 127.0.0.1
      provided_mysql_port: 3306
      provided_mysql_database: db
      provided_mysql_username: root
      provided_mysql_password: password

    strategy:
      matrix:
        java-version: [ 11 ]
        jpa-implements: [ hibernate,eclipseLink ]
        ee-version: [ java,jakarta ]
    permissions: write-all
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Setup Java JDK
        uses: actions/setup-java@v3.5.1
        with:
          java-version: ${{ matrix.java-version }}
          distribution: corretto
      - name: Gradle Build Action
        uses: gradle/gradle-build-action@v2.11.1
        with:
          gradle-version: 8.4
      - run: java -version
      - name: Build
        env:
          ORG_GRADLE_PROJECT_jpaImpl: ${{ matrix.jpa-implements }}
          ORG_GRADLE_PROJECT_ee: ${{ matrix.ee-version }}
        run: ./gradlew -i test
      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        #        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: 'build/test-results/test/TEST-*.xml'
          #          token: ${{secrets.TOKEN}}
          fail_on_failure: false
          require_tests: true
          include_passed: true

  # 只有 main 分支 才可以执行临时版本发布
  build:
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: test
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version: [ 11 ]
        ee-version: [ java,jakarta ]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Setup Java JDK
        uses: actions/setup-java@v3.5.1
        with:
          java-version: ${{ matrix.java-version }}
          distribution: corretto
      - name: Gradle Build Action
        uses: gradle/gradle-build-action@v2.11.1
        with:
          gradle-version: 8.4
      - run: java -version
      - name: Build
        env:
          ORG_GRADLE_PROJECT_ee: ${{ matrix.ee-version }}
          JRELEASER_GITHUB_TOKEN: ${{ secrets.TOKEN }}
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ vars.MAVEN_CENTRAL_USERNAME }}
          JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          JRELEASER_NEXUS2_CENTRAL_USERNAME: ${{ vars.MAVEN_CENTRAL_USERNAME }}
          JRELEASER_NEXUS2_CENTRAL_PASSWORD: ${{ secrets.MAVEN_CENTRAL_PASSWORD }}
          ORG_GRADLE_PROJECT_PHUsername: ${{ vars.MAVEN_PH_USERNAME }}
          ORG_GRADLE_PROJECT_PHPassword: ${{ secrets.MAVEN_PH_PASSWORD }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.password }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.GPG_SECRET_KEY}}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.GPG_PUBLIC_KEY}}
        run: |
          ./gradlew -PwithDocument=1 clean jreleaserDeploy
          ./gradlew -PwithDocument=1 publishMavenPublicationToPHRepository
          
      
